<?xml version="1.0" encoding="UTF-8"?>
<module rename-to='app'>
    <inherits name='com.google.gwt.user.User'/>
    <inherits name="com.google.gwt.i18n.I18N"/>
    <inherits name="com.smartgwt.SmartGwt"/>
    <inherits name='com.hydro4ge.raphaelgwt.RaphaelGWT'/>

    <inherits name="com.smartclient.theme.blackops.BlackOps"/>
    <inherits name="com.smartclient.theme.enterpriseblue.EnterpriseBlue"/>
    <inherits name="com.smartclient.theme.mobile.Mobile"/>
    <inherits name="com.smartclient.theme.silverwave.SilverWave"/>

    <entry-point class='org.mesol.spmes.gwt.client.SmartApp'/>
    <set-configuration-property name='xsiframe.failIfScriptTag' value='FALSE'/>
    
    <source path='client'/>
    <source path='shared'/>
    <source path='server'/>
</module>
